* {
    display: flexbox;
    text-align: center;

}

select,
option,
input[type="number"],
input[type="radio"],
input[type="checkbox"] {
    width: 7rem;
    height: 2rem;
    accent-color: rgba(93, 39, 240, 0.758);



}



#header {
    max-width: inherit;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 8px 8px 16px #0000007e,
        -8px -8px 16px #a8a7a756;
}

#header h1 {
    text-align: center;
}

.question {
    border-width: 0px 0 2px 0;
    padding: 1rem;
    background-color: #f3f3f33f;
    opacity: 80%;
    /* backdrop-filter: inherit;
    -webkit-backdrop-filter: blur(1.5px); */
    box-shadow: 2px 5px 5px 4px rgba(101, 98, 98, 0.181);
    /* border-radius: 12px;
    
    align-content: center;
   
    margin-top: 15px; */
    margin: auto;
    margin-top: 1rem;
    /* min-width: 888px;
    max-width: min-content; */

}

.darkmode .question {
    background-color: #1f1d1d63;

}

.question:hover {
    background-color: #f3f3f363;
    opacity: 100%;

    /* 
    border-width: 1px 1px 1px 1px;
    border-style: groove;
    border-color: #c6c4c48d;
    transition: border-width, border-color 0.1s; */
}

main {
    margin: 20px 13px 10px 13px;
    text-align: center;
    align-items: center;
}

#score {
    padding: 1px 22px 1px 22px;
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;

}

ol>li {
    text-align: center;
    border: 2px ridge;
    padding: 5px;
    margin-top: 2rem;
    align-items: center;
}



main div {
    margin-top: 15px;
    border-radius: 14px;


    /* 
    
    background: linear-gradient(145deg, #d4d4d4, #fbfbfb);
    box-shadow: 8px 8px 16px #a2a2a2,
        -8px -8px 16px #ffffff;*/
}

/* main div:hover {} */


/* .darkmode div {
    border-radius: 4px;
    background: linear-gradient(315deg, #36303e6c, #40394a6b);
    box-shadow: -5px -5px 10px #3b3444,
        5px 5px 10px #3d3646;
}
.darkmode .options {
    background-color: #2ca75719;
} */

button {


    font-size: larger;
    padding: 10px;
    border: #d4d4d4;

    border-radius: 7px;
    background: linear-gradient(145deg, #b492f21d, #fbfbfb21);
    box-shadow: 4px 4px 16px #a2a2a263,
        -4px -4px 8px #ffffff79;
}

button:active {
    background: linear-gradient(145deg, #1d1c1f3f, #47434377);
}

.darkmode button:active {
    background: linear-gradient(145deg, #1d1c1f6a, #1f1e1e90);
}

.option {

    margin: 1rem;
    padding: 5px;
    border-radius: 7px;
    background: linear-gradient(145deg, #d4d4d446, #fbfbfb3e);
    box-shadow: 2px 2px 4px #7b7979,
        -2px -2px 4px #ffffffac;
    display: inline-block;
}

.option:hover {
    text-shadow: #ffffff85 0.2px 0.2px;
}

.darkmode .question:hover {
    text-shadow: #6d6a6a90 1px 1px;
    background-color: #28242d;
}


#displayResults {
    margin: 11px;
}

#darkmode {
    float: right;
    margin-top: 10px;
}

/* h1 {} */

#finalScore {
    padding: 5px;
    background-color: #0e0d0d35;
    border-radius: 15px;
}



body {

    margin: auto;
    background-color: hsla(266, 83%, 81%, 0.39);
    background-image:
        radial-gradient(at 40% 20%, hsla(0, 56%, 63%, 0.447) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(258, 96%, 80%, 0.599) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(266, 100%, 93%, 0.81) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(341, 100%, 91%, 0.77) 0px, transparent 50%);
    transition: color, background-color 0.3s;
    font-family: 'Dosis', sans-serif;
    font-size: larger;
    /*    margin: 1rem; */
    display: flexbox;
    min-height: 1080px;

}

div.options {
    margin: 1rem;
    padding: 5px;
    border-radius: 7px;

}


.darkmode {
    background-color: hsla(266, 38%, 20%, 1);
    background-image:
        radial-gradient(at 40% 20%, rgb(40, 32, 24) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(35, 30, 51) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(39, 33, 48) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(75, 47, 56) 0px, transparent 50%);
    color: aliceblue;
    transition: color, background-color 0.3s;




}

.darkmode label {
    border-radius: 4px;
    background: linear-gradient(315deg, #36303e, #40394a);
    box-shadow: -5px -5px 10px #3b3444,
        5px 5px 10px #3d3646;
}

.darkmode button {
    /*margin: 1rem;*/
    color: #d4d4d4;
    border: #28242d;
    border-radius: 4px;
    background: #2e2c30;
    box-shadow: inset -5px -5px 10px #272529,
        inset 5px 5px 10px #353337;
    ;
}